html {
  font-size: 1rem;
}

main {
  background-color: #1b1c17;
  font-family: Ubuntu;
}

.nav-item {
  font-family: 'Alfa Slab One', Ubuntu;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 28px/33px Ubuntu;
  color: #e58900;
}

h1 {
  text-shadow: 3px 3px 0 #1b1c17;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
}

h2,
h3 {
  text-shadow: 3px 3px 0 #1b1c17;
  /*text-shadow: 3px 3px 0 rgba(0,0,0,0.15);*/
}

body {
  color: #7a694c;
}

/*=========================================
              Main
=========================================*/

.font-title {
  font-family: 'Alfa Slab One', Ubuntu;
}

.image-main {
  /* Object-fit indicates how the element behaves in relation to his container */
  object-fit: cover;
  /* Object-position move your images on axis X(90) and Y(0) */
  object-position: 79% 15%;
  height: 700px;
}

@media (min-width: 300px) {
  .fit {
    object-fit: cover;
    object-position: 45%;
    height: 700px;
  }
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: black;
}

.card-image {
  width: 18rem;
  object-fit: cover;
  object-position: 0 60%;
}

.card-image-top {
  height: 200px;
  object-fit: cover;
  object-position: 0 80%;
}

.thumb-ball {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.social {
  font-size: 2rem;
}

.text-color-special {
  color: #e58900;
}

.border-color-special {
  border: 3px solid #e58900;
}

.btn-color-special {
  background-color: #e58900;
  color: white;
}

#color-title {
  color: #8d0606;
}
/* New Media breakpoints in Bootstrap 4 */
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

/*=========================================
              Service Box 
=========================================*/

.span4 {
  width: 300px;
}

.span4 {
  min-height: 1px;
  margin-left: 20px;
}

.service-box {
  background: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.service-box {
  overflow: hidden;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.service-box.service-home .service-box_txt {
  padding-left: 100px;
}

.service-box .icon {
  float: left;
  margin: 0 10px 10px 0;
}

.icon {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  margin-top: 0;
}

#abouticons {
  background: url(../img/beer-10.gif);
  background-size: cover;
  background-repeat: repeat-y;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*=========================================
              Social Media Icons
=========================================*/

.fa-facebook-square:before {
  content: '\f082';
  color: #1b1c17;
}

.fa-instagram:before {
  content: '\f16d';
  color: #1b1c17;
}

.fa-twitter-square:before {
  content: '\f081';
  color: #1b1c17;
}
